@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');



/***************************************
*            Gloval CSS Start
*****************************************/

* {
    margin: 0;
    padding: 0;


}

body {

    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;



}

/***************************************
*            Gloval CSS End
*****************************************/



/***************************************
*    Header & Banner CSS start
*****************************************/





.header-banner-section {

    width: 100%;
    height: 100vh;
    background: url(../image/background.png) center center no-repeat;
    background-size: cover;


    /* display: inline-block; */
}


.header-banner-section .logo {
    margin-right: 8px;
}




.header-banner-section .nav-link {

    color: #fffefe;
    transition: 0.5s;
}


.header-banner-section .nav-link:hover {

    color: #fffefe;
    background: url(../image/homebottom.png) center bottom no-repeat;
    transition: 0.5s;
}




.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fffefe;
    background: url(../image/homebottom.png) center bottom no-repeat;
}




/**************************
*  mid-banner section start 
*****************************/






.header-banner-section .banner {

    margin-top: 85px;
    width: 100%;
}



.header-banner-section .banner h6 {

    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 2px;
}


.header-banner-section .banner h1 {
    font-size: 48px;
    color: #e0e0e0;
    margin-top: 25px;
    margin-bottom: 18px;
    width: 88%;
    line-height: 50px;
}


.header-banner-section .banner p {

    color: #999999;
    width: 70%;
}






.header-banner-section .banner .pair-btn {
    
    margin-top: 40px ;
    
}






.header-banner-section .banner .pair-btn .btn-primary {

    background: #008ed6;
   padding: 10px 22px;
   margin-right: 8px;
   /* border-radius: 0px !important; */
   border-radius: 3px  !important;
   transition: 0.5s;
}

.header-banner-section .banner .pair-btn .btn-primary:hover {

    background: transparent;
    border: 1px solid #999;
    transition: 0.5s;

}









.header-banner-section .banner .pair-btn .btn-success {

    background: transparent;
   padding: 10px 22px;
   margin-right: 8px;
   /* border-radius: 0px !important; */
   border-radius: 3px  !important;
   border: 1px solid #999 ;
   transition: 0.5s;
}





.header-banner-section .banner .pair-btn .btn-success:hover {

    background: #008ed6;
   
   border: 1px solid #008ed6 ;
   transition: 0.5s;

}










/**************************
*  mid-banner section end 
*****************************/



/***************************************
*         Header & Banner CSS end
*****************************************/











/***************************************
*         feature CSS start
*****************************************/



/***************************************
*         feature-1 CSS start
*****************************************/


.feature-section-1 .container-1 {
    margin-top: 50px;
    text-align: center;
    justify-content: center;


}


.feature-section-1 .container-1 h6 {

    color: #2ca4e0;
    font-weight: 700;
}


.feature-section-1 .container-1 h2 {
    font-weight: 600;

}


.feature-section-1 .container-2 {

    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    flex-basis: 33.33%;



}


.feature-section-1 .container-2 .box {
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;


}


.feature-section-1 .container-2 .box i {
    color: #008ed6;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border: 1px solid #b1acac;
    border-radius: 80%;
    margin-bottom: 20px;
    padding-top: 20px;
}



.feature-section-1 .container-2 .box h4 {
    color: #1a1a1a;
    text-transform: capitalize;
    line-height: 50px;

}

.feature-section-1 .container-2 .box p {
    color: #999999;
    width: 86%;
    display: inline-block;
}




.line-section {

    width: 100%;
    padding: 100px 0px;
height: auto;

}


.line-section .line {

    width: 100%;
    height: 2px;
    border-bottom: 1px solid #d5d7de;


}



/***************************************
*         feature-1 CSS end
*****************************************/


/***************************************
*         feature-2 CSS start
*****************************************/


.feature-section-2 {

    margin: auto;
    width: 100%;

}








.feature-section-2 .container-1 {


    width: 100%;
    margin: auto;
    margin-left: 25px;

}








.feature-section-2 .container-1 .row .col-lg-6 h6 {

    color: #008ed6;
    font-weight: 700;

}



.feature-section-2 .container-1 .row .col-lg-6 h2 {


    font-weight: 650;

}


.feature-section-2 .container-1 .row .col-lg-6 p {

    color: #999999;
    margin-top: 10px;
    /* margin-bottom: 15px; */

}



.feature-section-2 .container-1 .row .col-lg-6 .icon {

    display: flex;
    margin-top: 15px;

}


.feature-section-2 .container-1 .row .col-lg-6 .icon i {
    margin-top: 9px;
    margin-right: 15px;
    color: #55b4e4;
    font-size: 20px;

}



.feature-section-3 .container-1 .row {

    width: 100%;
    height: 80vh;
    padding: 20px 100px;
    background: #f2f2f2;

}



.feature-section-3 .container-1 .row .col-lg-5 {


    padding-top: 80px;


}


.feature-section-3 .container-1 .row .col-lg-5 h6 {


    padding-bottom: 10px;
    color: #008ed6;
    font-weight: 700;

}

.feature-section-3 .container-1 .row .col-lg-5 h2 {


    padding-bottom: 5px;

    font-weight: 700;

}






.feature-section-3 .container-1 .row .col-lg-5 p {


    padding-top: 15px;
    color: #999999;
    width: 92%;

}












/***************************************
*         feature-2 CSS end
*****************************************/


/***************************************
*         feature CSS end
*****************************************/